@import "nullstyle";
@import "variables";
@import "themes/mainTheme";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap';

body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: 100%;
}

// :focus {
//     outline: red solid 1px;
// }

// a:focus,
// div:focus {
//     outline: red solid 1px;
// }

input:focus {
    outline: none;
}

h1 {
    font-size: var(--font-size-header-1);
}

h2 {
    font-size: var(--font-size-header-2);
}