:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-secondary: 'Nunito Sans', sans-serif;

    --font-size-sidebar: 14px;
    --font-size-main: 16px;
    --font-size-header-2: 20px;
}