:root {
    /* Шрифты */
    --font-family-main: 'Roboto', sans-serif;
    --font-family-secondary: 'Nunito Sans', sans-serif;
    --font-size-ui: 14px;
    --font-size-text: 16px;
    --font-size-text-large: 24px;
    --font-size-text-medium: 20px;

    /* Размеры */
    --header-height: 56px;
    --sidebar-width: 255px;
    --sidebar-collapsed-width: 80px;
    --margin: 8px;

    /* Границы */
    --border: 1px solid var(--bg-color);
    --radius: 8px;

    /* Тени */
    --header-shadow: 0 2px 4px rgba(8 35 48 / 24%), 0 4px 8px rgba(8 35 48 / 16%);
    --shadow: 0 2px 4px rgb(159 163 165 / 16%);
}