.body {
    flex: 1 1 auto;
    height: 100%;
    padding-bottom: 20px;
    background-color: rgb(236 236 236);
}

.content {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 24px 64px 20px;
}

@media (width <= 767px) {
    .body {
        width: 100%;
    }
}