.selectList {
    position: relative;
    display: inline-block;
    
    &__button {
        width: 300px;
        margin-bottom: 8px;
    }
    &__options {
        z-index: 1000;
        width: 100%;
        position: absolute;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
    }
    &__option {
        padding: 8px 10px;

        &_active {
            background-color:var(--primary-active-color);
        }

        &_selected {
            background-color:var(--primary-color);
            color: #fff;
        }
    }
}

