.component {
    background-color: #fff;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
  
  .title {
    font-weight: 600;
    letter-spacing: var(--font-spacing);
  }
  
  .head {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr var(--font-size-text);
    gap: var(--margin);
    align-items: center;
    padding: calc(var(--margin) * 2);
    color: var(--header-color);
  
  }
  
  .content {
    cursor: default;
    padding: calc(var(--margin) * 2);
  }

  .content-top {
    padding-top: 0;
  }