.inventory-products-list {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.total {
    display: flex;
    line-height: 24px;
    min-height: 48px;
    background-color: #fff;
    margin-top: 3px;
    align-items: center;
    font-weight: bold;
    justify-content: flex-end;
    padding: 0 12px;
}

.sum {
    margin-left: 20px;
} 

.create-xlsx {
    display: block;
    padding: 5px 15px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
}