.submit-button {
    min-height: 40px;
    min-width: 88px;
    line-height: 40px;
    height: 3em;
    width: 15em;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 10px;
    letter-spacing: 1px;

    & a, a:visited {
        color: #fff;
    }
}

.cancel-button {
    min-height: 40px;
    min-width: 88px;
    line-height: 40px;
    height: 3em;
    width: 15em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(205, 44, 44);

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 10px;
}

.dropdown-button {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 40px;
    text-align-last: left;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    padding: 10px 20px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    
    & svg {
      position: absolute;
      right: 10px;
      height: 100%;  
      width: 8px;
      fill: rgba(0, 0, 0, 0.6);
    }
}