.btn {
    position: relative;
    width: 15em;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.submit {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);

    & a, a:visited {
        color: #fff;
    }
}

.cancel {
    color: #fff;
    background-color: rgb(205 44 44);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
}

.disabled {
    background-color: grey;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    color: rgba(0 0 0 / 80%);
    text-align-last: left;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
    
    & i {
        position: absolute;
        right: 5px;
        margin-right: 0;
        font-size: 1.1em;
    }
}

.full { 
    width: 100%;
}