.btn {
    width: 15em;
    padding: var(--padding) calc(var(--padding) * 1.5);
    font-size: var(--font-size-ui);
    font-weight: 700;
    letter-spacing: var(--font-spacing);
    border-radius: var(--button-radius);
}

.submit {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: var(--button-radius);
    box-shadow: var(--shadow);
}

.cancel {
    color: #fff;
    background-color: rgb(205 44 44);
    box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
}

.disabled {
    background-color: grey;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding: calc(var(--padding) * 1.8) calc(var(--padding) * 2) ;
    color: var(--font-color);
    background-color: #fff;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    
    & i {
        position: absolute;
        right: 5px;
        margin-right: 0;
        font-size: var(--font-size-text);
    }
}

.full { 
    width: 100%;
}