.category-card {
    display: flex;
    margin-top: 16px;
    padding: 16px 36px;
    font-size: 16px;
    background-color: #fff;

    &__title {
        flex: 1 1 auto;
    }
    
    &__count {
        display: flex;
        flex: 0 1 auto;
        justify-content: flex-end;
        min-width: 30px;
    }
}
