.input-area {
    display: flex;
    justify-content: space-between;
}
.create-button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 151, 167);
    border: 2px solid rgb(0, 151, 167);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
