.search-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-icon {
    display: flex;
    height: 36px;
    padding-top: 5px;
    margin-left: 10px;
}
