.component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.input {
  text-align: center;
}

.counter-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin-right: 20px;
}
