.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 48px;
    font-weight: bold;
    line-height: 24px;
    background-color: #fff;
}

.select,
.avatar {
    flex: 0 0 auto;
    width: 50px;
    padding: 0 12px;
}

.price,
.count {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    width: 100px;
    padding: 0 12px;
}

.name {
    flex: 1 1 auto;
    padding: 0 12px;
}