.register {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    margin-top: 200px;
    max-width: 1080px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}