.cell {
  padding: 5px;
  text-align: center;
  border: 1px solid var(--bg-color);
}

.name {
  grid-area: name;
  text-align: left;
}

.number {
  grid-area: number;
}

.unit {
  grid-area: unit;
}

.rows {
  --icon-size: 22px;

  display: grid;
  grid-area: rows;
  grid-template-areas: 'text icon';
  grid-template-columns: 1fr var(--icon-size);
}

.count {
  grid-area: count;
}

.record {
  display: grid;
  grid-template-areas: 'number name count unit rows';
  grid-template-columns: 40px 1fr 80px 80px 180px;
}

.header {
  font-weight: 500;
  text-align: center;
}
