.login {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 10px;
}

.title {
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit {
    margin: 0 auto;
}

.empty {
    position: relative;
    width: 100%;
}

.error {
    position: absolute;
}