.container {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    background-color: #FFF;
}

.standard { 
    border: 1px solid grey;
}

.outline, 
.table {
    border: none;
    border-bottom: 1px solid grey;
}


.normal {
    width: 240px;
}

.full {
    width: 100%;
}

.placeholder {
    font-size: 16px;
    color: #65657b;
    width: 100%;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
    left: 10px;
    transform: translate(0, -30%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input {
    flex-grow: 1;
    background-color: #FFF;
    width: 100%;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-37px) translateX(10px) scale(0.75);
}


.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.password-button {
    height: inherit;
    background-color: #FFF;
    color: rgb(80 80 80);
}

.invalid-feedback {
    margin-top: 5px;
    padding-left: 10px;
}

.is-invalid {
    color: red;
    border-color: red;
}

.eye-icon {
    font-size: 20px;
}

.label {
    display: flex;
    align-items: center;
    border-bottom: none;
}