.input-container {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;
    height: 60px;
}


.input-group {
    display: flex;
    width: 100%;
    position: relative;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff;

    &_standard { 
        border: 1px solid grey;
    }

    &_outline, 
    &_table {
        border: none;
        border-bottom: 1px solid grey;
    }

    &_normal {
        width: 240px;
    }

    &_full {
        width: 100%;
    }
}

.input-container__input {
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
}

.input-container__password-button {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.placeholder {
    font-size: 16px;
    color: #65657b;
    width: 100%;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
    left: 10px;
    transform: translate(0, -30%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input-container__input:focus ~ .placeholder,
.input-container__input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-37px) translateX(10px) scale(0.75);
}


.input-container__input:focus ~ .cut,
.input-container__input:not(:placeholder-shown) ~ .cut {
    transform: translateY(0px);
}

.input-container__input[type="number"]::-webkit-outer-spin-button,
.input-container__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container__input[type="number"],
.input-container__input[type="number"]:hover,
.input-container__input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.invalid-feedback {
    margin-top: 5px;
    padding-left: 10px;
}

.is-invalid {
    color: red;
    border-color: red;
}

.eye-icon {
    height: 20px;
    width: 20px;
}

.label {
    display: flex;
    align-items: center;
    border-bottom: none;
}