.input-group {
    position: relative;

    // display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
}

.input {
    width: 100%;
    font-size: var(--font-family-main);
}

.standard { 
    border: 1px solid grey;
}

.outline {
    border: none;
    border-bottom: 1px solid grey;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    top: 50%; 
    left: 10px;
    transform: translate(0, -50%);
    overflow: hidden;
    color: #65657b;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: transform 200ms, color 200ms;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-35px) translateX(calc(var(--margin) * 3));
    width: 100%;
    font-size: calc(var(--font-size-text) * 0.85);
    appearance: none;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
    -moz-appearance: textfield;
    appearance: none;
}

.password-button {
    height: inherit;
    color: rgb(80 80 80);
    background-color: #FFF;
}

.eye-icon {
    font-size: 20px;
}