.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
}

.input-group {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
}

.input {
    flex-grow: 1;
    width: 100%;
    font-size: var(--font-family-main);
    color: inherit;
    background-color: #FFF;
}

.standard { 
    border: 1px solid grey;
}

.outline {
    border: none;
    border-bottom: 1px solid grey;
}

.full {
    width: 100%;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
    width: 100%;
    line-height: 1;
    color: #65657b;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: transform 200ms, color 200ms;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-35px) translateX(0) scale(0.875);
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
    -moz-appearance: textfield;
    appearance: none;
}

.password-button {
    height: inherit;
    color: rgb(80 80 80);
    background-color: #FFF;
}

.eye-icon {
    font-size: 20px;
}