:root {
  --primary-color: #0097a7;
  --primary-active-color: #e3f2f4;
  --bg-color: #ececec;
  --header-color: rgb(0 0 0 / 54.1%);
  --font-color: rgb(0 0 0 / 87.1%);
  --accent-color: rgb(159 163 165);
}
