.product-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 48px;
    margin-top: 3px;
    line-height: 24px;
    background-color: #fff;
}

.price,
.count {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    width: 100px;
    padding: 0 12px;
}

.select-field,
.avatar {
    flex: 0 0 auto;
    width: 50px;
    padding: 0 12px;
}

.title {
    flex: 1 1 auto;
    padding: 0 12px;
}

.product-card:focus {
    outline: red solid 1px;
}