.combobox {
    width: 200px;
    &__options {
        width: 100%;
        border: 1px solid var(--primary-color);
        padding: 10px 5px;
    }

    &__input {
        margin-bottom: 10px;
    }
}