.datepicker {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid grey;
    outline: 0;
}

.placeholder {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 100%;
    font-size: 14px;
    color: #808097;
    background-color: inherit;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
}

.full {
    width: 100%;
}