// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "./_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "StarJediOutline";
    // адрес шрифта и тип
    src: url("../src/assets/fonts/StarJediOutline-y0xm.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AnakinmonoRegular";
    src: url("../src/assets/fonts/AnakinmonoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DynaPuff";
    src: url("../src/assets/fonts/DynaPuff.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    overflow: hidden;
    display: flex;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    font-family: sans-serif;
}

#root {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    flex-shrink: 1;
    font-family: sans-serif;
}

:focus {
    outline: red solid 1px;
}

a:focus,
// li:focus,
div:focus {
    // display: inline-block;
    outline: red solid 1px;
}
