$order-columns: minmax(50px, 1fr) minmax(450px, 9fr) minmax(100px, 2fr) minmax(50px, 1fr);

.ordering {
    &__item {
        display: grid;
        font-size: 16px;
        grid-template-columns: $order-columns;
        align-items: self-start;
        text-align: left;
    }
}