.header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 0 30px;
    color: #FFF;
    background-color: var(--primary-color);
    box-shadow: var(--header-shadow);
}

.burger {
    display: none;
}

.logo-group,
.profile-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-group {
    margin-left: auto;
}

.logo {
    font-size: 28px;
}

.logo-text {
    cursor: default;
    font-size: 30px;
    font-weight: 500;
}

.mail {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid var(--primary-color);
}

.menu-item, 
a.menu-item {
    cursor: pointer;
    padding: calc(var(--margin) * 1.2) calc(var(--margin) * 2);
    color: var(--primary-color);
    background-color: #FFF;
    border-bottom: 1px solid var(--primary-color);

    &:visited {
        color: var(--primary-color);
    }

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--primary-active-color);
    }
}

@media (width <= 1140px) {
    .header {
        justify-content: space-between;
    }

    .logo span {
        margin-left: 30px;
    }

    .text {
        display: none;
    }

    .icon {
        display: none;
    }

  
}
