.header {
    position: relative;
    display: flex;
    color: #FFF;
    align-items: center;
    height: 56px;
    padding: 0 30px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(8 35 48 / 24%), 0 4px 8px rgba(8 35 48 / 16%);

}

.burger {
    display: none;
}

.logo-group,
.profile-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-group {
    margin-left: auto;
}

.logo {
    width: 25px;
    height: 25px;
    background-color: burlywood;
}

.logo-text {
    font-size: 30px;
    font-weight: 500;
}

.mail {
    position: relative;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff !important;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    & a {
        color: var(--primary-color);
    }
}

.menu-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFF;
    border-bottom: 1px solid var(--primary-color);

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: rgb(227 242 244);
    }
}

@media (width <= 767px) {
    .header {
        justify-content: space-between;
    }

    .logo span {
        margin-left: 30px;
    }

    .text {
        display: none;
    }

    .icon {
        display: none;
    }

    .burger {
        width: 25px;
        height: 21px;
        display: block;
        position: absolute;
    }

    .burger::before,
    .burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger::before {
        top: 0;
    }

    .burger.close::before {
        top: 9px;
        transform: rotate(45deg);
        height: 4px;
    }

    .burger::after {
        bottom: 0;
    }
    
    .burger.close::after {
        transform: rotate(-45deg);
        top: 9px;
        height: 4px;
    }

    .burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger.close span {
        transform: scale(0);
    }
}
